body {
    padding: 0;
    margin: 0;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: #3882F6;
    color: white;
    height: 40px;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border-color: white;
    
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

li {
    margin: 0 12px;
}

li:hover {
    cursor: pointer;
    color: antiquewhite;
    
}

/*li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}*/

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 0 10px;
}

.col-1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100vw;
    background-color: #1F2937;
}

.col-1-1 {
    display: flex;
    flex-direction: column;
    margin-top: -160px;
}

.btn-1 {
    margin-top: 15px;
}

.text-1 {
    padding-right: 2rem;
    height: 250px;
    width: 450px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E5E7EB;
}

.image-1 {
    background-image: url(./images/E&M.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 600px;
    margin: 5px;
}

.col-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100vw;
    gap: 1rem;
}

.image-2 {
    background-image: url(./images/Maya.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 270px;
    width: 150px;
}

.card {
    height: 300px;
    width: 180px;
    border: 1px solid blue;
    border-radius:9px;
}

.col-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    width: 100vw;
    background-color: #E5E7EB;
    padding: 2rem;
}

.col-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    padding: 2rem;
}

.sign-up-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    width: 60vw;
    background-color: #3882F6;
    border-radius: 8px;
}

.sign-up {
    padding-left: 8rem;
    color: white; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 28px;
    font-weight: 900;
    margin: 0;
}

div.sign-up p {
    margin-top: 3px;
    font-size: 18px;
}

.button-2 {
    padding-right: 8rem;
}
